@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h4>Group 6</h3>
<p>Irron Brosoto</p>
<p>Marjorie Delos Santos</p>
<p>Jezrielle Padlan</p>
<p>Julia Rustia</p>
<p>Catherine Tabigne</p>
<p>Abbedja Tuvalles</p>
