

@* 
@page
@model IEnumerable<OrgFinder.Models.Organization>


@{
}
@model List<Organization>
@model OrgFinder.Views.Home.ResultsModel
@model IEnumerable<OrgFinder.Models.Organization>
*@



<h1>Recommended Organizations</h1>

@model List<Organization>

@if (Model.Count == 0)
{
    <p>No organizations found matching your criteria.</p>
}
else
{
    <ul>
    @foreach (var org in Model)
    {
        <li>
                @if (!string.IsNullOrEmpty(org.Website))
                {
                    <h6>
                        <a href="@org.Website" target="_blank">@org.Name</a>  
                    </h6>
                }
                else
                {
                    <h6>@org.Name</h6>
                }
           
        </li>
    }
</ul>
}